@model IEnumerable<IceCreamProject.Models.Order>

@{
@*        Layout = ViewData["Layout"].ToString();
*@    ViewData["Title"] = "Index";

      if (HelpStaticClass.IsAdmin)
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    else
        Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
      <link rel="stylesheet" type="text/css" href="~/css/Predict.css" />
      <style>
          
      </style>

</head>
<body>
    <h1>Thank you for your order!</h1>
<p>Your order has been accepted. <br /> see you!</p>
</body>


