body {
    background-image: url('/images/back_predict.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



.page-content {
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
}
