<body class="sub_page">
 
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box pr-md-3">
            <img src="/images/girl-eating-ice-cream.jpg" class="box_img" alt="about img">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box pl-md-3">
            <div class="heading_container">
              <h2 class="">
                What makes us different?
              </h2>
            </div>
            <p class="detail_p_mt">

It is important to us that our customers, wherever they are, enjoy the highest quality ice cream. point. All our ice creams are produced on a daily basis on site, without transportation, at any of the chain's branches. Our flavors are made with good, loving and skilled hands according to traditional formulas that use the best raw materials and fruits. This way, we can ensure that the ice cream you receive in a glass or cup will always be completely fresh, with optimal quality and texture.

Only the finest raw materials are given free entry to the kitchen. stabilizers? whey? vegetable oil? No thanks! We create our legendary flavors with the best toppings, like hazelnuts from Piedmont, excellent pistachios, truffles that we produce ourselves and 100% real chocolate. In sorbet we use fresh or frozen fruits of excellent quality. Our yogurt is natural and even on the sauces for decoration we do not compromise.            </p>
            <a href="about.html" class="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- about section ends -->
  </body>