<body class="sub_page">
 
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box pr-md-3">
            <img src="/images/about-img2.png" class="box_img" alt="about img">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box pl-md-3">
            <div class="heading_container">
              <h2 class="">
                About Us
              </h2>
            </div>
            <p class="detail_p_mt">
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, orThere are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, orThere are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or
            </p>
            <a href="about.html" class="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- about section ends -->
  </body>