@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
      if (HelpStaticClass.IsAdmin)
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    else
        Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
@*      <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="~/css/home.css" />
  <link rel="stylesheet" type="text/css" href="~/css/style.css" />*@
  <link rel="stylesheet" type="text/css" href="~/css/Home1.css" />


</head>




<body >
    <div class="page-content">
       <a class="wp-block-button__link" asp-controller="orders" asp-action="create">Start an order</a>
    </div>
</body>



