@{
    ViewData["Title"] = "ManagerIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
      if (HelpStaticClass.IsAdmin)
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    else
        Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>
@*      <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="~/css/home.css" />
  <link rel="stylesheet" type="text/css" href="~/css/style.css" />*@
  <link rel="stylesheet" type="text/css" href="~/css/Home1.css" />


</head>




<body >
    <div class="page-content">
       <a class="wp-block-button__link" asp-controller="icecreamflavors" asp-action="predict">Forecasting sales for today</a>

       <a class="wp-block-button__link" asp-controller="icecreamflavors" asp-action="predictTasteWithAllParameters">Forecasting sales for a future day </a>

       <a class="wp-block-button__link" asp-controller="home" asp-action="showGraph">Graphic presentation of sales </a>
    </div>
</body>

