<head>
@*      <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="~/css/home.css" />
  <link rel="stylesheet" type="text/css" href="~/css/style.css" />*@
  <link rel="stylesheet" type="text/css" href="~/css/Home1.css" />


</head>




<body >
    <div class="page-content">
       <a class="wp-block-button__link" asp-controller="home" asp-action="ShowGraph">חיזוי מכירות להיום </a>
    </div>
</body>

